{% extends "content.html" %}

{% block content %}

<table>
    <tr class="head">
        <td>Status</td>
        <td>Datum</td>
        <td>Name</td>
        <td>Von</td>
        <td>Bis</td>
        <td>Kosten</td>
    </tr>

    </tr>
    {% for ta in transactions %}
    <tr>
        <td>{{ ta.progress }}</td>
        <td>{{ ta.date|date }}</td>
        <td>{{ ta.name }}</td>
        <td>{{ ta.date_start|date }}</td>
        <td>{{ ta.date_end|date }}</td>
        <td>{{ ta.cost|cash }}</td>
        <td><a href="{{ url_for('admin_transaction', id=ta.id) }}"><i class="icon-chevron-right"></i></a></td>
    </tr>

    {% endfor %}
</table>

{% endblock %}

{% block admin %}
<div id="admin">
    <span>CHEF-MODUS</span>
    <a href="{{ url_for('logout') }}"><i class="icon-eject"></i></a>
    <a href="{{ url_for('admin') }}"><i class="icon-tasks"></i></a>
</div>
{% endblock %}
