<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
	<head>
		<title>RAST-Spielmaterialverleih</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/favicon.png') }}" /> 
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript"> $ROOT = {{ request.script_root|tojson|safe }}; </script>
        <script src="{{ url_for('static', filename='js/jquery.pjax.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>

        <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}?v=2" type="image/png" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css" />

        {# Date Picker #}
        <script type="text/javascript" src="{{ url_for('static', filename="js/zebra_datepicker.js") }}"></script>
	</head>
	<body>
        <header>
            <a href="{{ url_for('list') }}"><h1>RAST-Spielmaterialverleih</h1></a>
            {% block header%}
            <a class="reset" data-target="#search" style="float:right;"><i class="icon-remove-sign"></i></a>
            <input id="search" style="float:right;" type="text" placeholder="Suche"/>

            <span class="select autosend" data-target="/filter/category/[category]"><select name="category" id="list_category">
                <option {{ category|option('all') }}>Alle Artikel</option>
                <option {{ category|option('outdoor') }}>Spielmaterial draussen</option>
                <option {{ category|option('indoor') }}>Spielmaterial drinnen</option>
                <option {{ category|option('vehicle') }}>Vehikel</option>
                <option {{ category|option('merchandise') }}>Fan-Artikel</option>
                <option {{ category|option('machines') }}>Maschinen</option>
            </select></span>
            für 
            <span class="select"><select name="group" id="list_group">
                <option {{ ta.group|option('int') }}>Jubla-Scharen</option>
                <option {{ ta.group|option('edu') }}>Schulen</option>
                <option {{ ta.group|option('ext') }}>Externe</option>
            </select></span>
            verfügbar vom
            <span class="autosend" data-target="/filter/between/[date_start]/and/[date_end]">
                <input type="text" class="datepicker" value="{{ ta.date_start|date }}" name="date_start" id="from">
                bis
                <input type="text" class="datepicker" value="{{ ta.date_end|date }}" name="date_end" id="until">
            </span>

            <a class="reset" data-target=".datepicker,#list_category" data-url="/filter/none"><i class="icon-remove-sign"></i></a>
            {% endblock %}
        </header>
        <div id="target">{% include template %}</div>
	</body>
</html>
