<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
	<head>
		<title>Stock</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='img/favicon.png') }}" /> 
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script type="text/javascript"> $ROOT = {{ request.script_root|tojson|safe }}; </script>
        <script src="{{ url_for('static', filename='js/jquery.pjax.js') }}"></script>
        <script src="{{ url_for('static', filename='js/app.js') }}"></script>

        <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}" type="image/png" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" type="text/css" />

        {# Date Picker #}
        <script type="text/javascript" src="{{ url_for('static', filename="js/zebra_datepicker.js") }}"></script>
	</head>
	<body>
        <header>
            <a href="{{ url_for('home') }}"><h1>RAST-Spielmaterialverleih</h1></a>
            <input id="search" style="float:right;" type="text" placeholder="Suche"/>
            <a id="cart" style="float:right;"><i class="icon-shopping-cart"></i></a>

            <span class="select"><select name="category" id="list_category">
                <option value="">Alle Artikel</option>
                <option value="outdoor">Spielmaterial draussen</option>
                <option value="indoor">Spielmaterial drinnen</option>
                <option value="vehicle">Vehikel</option>
                <option value="merchandise">Fan-Artikel</option>
                <option value="machines">Maschinen</option>
            </select></span>
            verfügbar vom
            <input type="text" class="datepicker" name="from" id="from">
            bis
            <input type="text" class="datepicker" name="until" id="until">

            <a id="reset"><i class="icon-remove-sign"></i></a>

            <!--
            Tarife für
            <span class="select"><select name="group">
                <option value="int">JuBla-Schar</option>
                <option value="ext">nichtkommerzieller Jugendverein</option>
                <option value="com">Sportverein</option>
            </select></span>
            --!>


            <!--
            {# TODO: remove #}
            {% if not session.logged_in %}
              <a href="{{ url_for('login') }}" target="get">log in</a>
            {% else %}
              <a href="{{ url_for('logout') }}">log out</a>
            {% endif %}
            --!>
        </header>
        <div id="target">{% include template %}</div>
	</body>
</html>
