{% extends "content.html" %}
{% block sidebar %}
    <form action="{{ url_for('cart_submit') }}" method="post" enctype="multipart/form-data">
    <h1>Bestellung abschliessen</h1>

    <h2>Verleihdauer</h2>
    <span class="autosend" data-sync="true" data-target="/filter/between/[date_start]/and/[date_end]">
        <input name="date_start" class="datepicker" value="{{ ta.date_start|date }}" /> bis 
        <input name="date_end" class="datepicker" value="{{ ta.date_end|date }}" /><br />
    </span>
    {{ ta.weeks }} Wochen / {{ ta.days }} Tage<br />
    <table class="receipt">
        {% if ta.lend %}
        <tr class="head"><td>Miete</td><td>Tarif</td><td>Dauer</td><td>Stück</td></tr>
        {% for il in ta.lend.values() %}
        <tr {{ 'class=invalid id=lend_'+il.item.id if not il.valid() else '' }}>
            <td>{{ il.item.name }}</td>
            <td>
                {% if il.item.tax_base() %}{{ il.item.tax_base()|cash }} + {% endif %}
                {{ il.item.tax()|cash }}
            </td>
            <td>× {% if il.item.tax_period == 'week' %}{{ ta.weeks }}{% else %}{{ ta.days }}{% endif %}</td>
            <td>× {{ il.amount }}</td>
            <td>{{ il.cost()|cash }}</td>
        </tr>
        {% endfor %}
        {% endif %}

        {% if ta.buy %}
        <tr class="head"><td>Kauf</td><td>Preis</td><td></td><td>Stück</td></tr>
        {% for il in ta.buy.values() %}
        <tr>
            <td>{{ il.item.name }}</td>
            <td>{{ il.item.price_buy|cash }}</td>
            <td></td>
            <td>× {{ il.amount }}</td>
            <td>{{ il.cost()|cash }}</td>
        </tr>
        {% endfor %}
        {% endif %}
        <tr><td>Total<td></td></td><td></td><td></td><td>{{ ta.cost|cash }}</td></tr>
    </table>

    <h2>Deine Angaben</h2>
    <span class="autosend" data-sync="true" data-target="/filter/group/[group]">
    <label class="fill">Gruppe
    <span class="select"><select name="group" id="list_group">
        <option {{ ta.group|option('int') }}>Jubla-Schar</option>
        <option {{ ta.group|option('edu') }}>Schule</option>
        <option {{ ta.group|option('ext') }}>Extern</option>
    </select></span></label>
    </span>
    <label class="fill">Name <input name="name" value="{{ ta.name|default('', True) }}" /></label>
    <label class="fill">Email <input name="email" value="{{ ta.email|default('', True) }}" /></label>
    <label class="fill">Telefon <input name="tel" value="{{ ta.tel|default('', True) }}" /></label>
    <label class="fill">Ich bezahle <span class="select"><select name="payment">
        <option value="0">bar Kralle</option>
        <option value="1">per Rechnung</option>
    </select></span></label>

    <br />
    <label>Adresse
    <textarea name="delivery" placeholder="Leer lassen, wenn du's grad selbst abholst"></textarea>
    </label>

    <label>Kommentare
    <textarea name="remarks" placeholder=""></textarea>
    </label>

    <input type="submit" class="btn" name="submit" value="Bestellen" />
    </form>
{% endblock %}


{% block cart %}
{% endblock %}
