{% extends "content.html" %}
{% block sidebar %}
    <form action="{{ url_for('cart_submit') }}" method="post" enctype="multipart/form-data">
    <h1>Bestellung abschliessen</h1>

    <table>
        {% if ta.lend %}
        <tr class="head"><td>Miete</td><td>Tarif</td><td>Stück</td><td>Dauer</td></tr>
        {{ ta.weeks() }} Wochen / {{ ta.days() }} Tage
        {% for il in ta.lend.values() %}
        <tr>
            <td>{{ il.item.name }}</td><td>{{ il.item.price_lend_d()|cash }}</td>
            <td>× {{ il.amount }}</td><td>× {% if il.item.price_lend_w() %}{{ ta.days() }}{% else %}{{ ta.weeks() }}{% endif %}</td>
            <td>{{ il.cost()|cash }}</td>
        </tr>
        {% endfor %}
        {% endif %}

        {% if ta.buy %}
        <tr class="head"><td>Kauf</td><td>Preis</td><td>Stück</td></tr>
        {% for il in ta.buy.values() %}
        <tr>
            <td>{{ il.item.name }}</td>
            <td>{{ il.item.price_buy|cash }}</td>
            <td>× {{ il.amount }}</td>
            <td></td>
            <td>{{ il.cost()|cash }}</td>
        </tr>
        {% endfor %}
        {% endif %}
        <tr><td>Total<td></td></td><td></td><td></td><td>{{ ta.cost()|cash }}</td></tr>
    </table>

    <h2>Deine Angaben</h2>
    <label class="fill">Name <input name="name" value="" /></label>
    <label class="fill">Email <input name="email" value="" /></label>
    <label class="fill">Telefon <input name="tel" value="" /></label>
    <label class="fill">Ich bezahle <span class="select"><select name="payment">
        <option value="0">bar Kralle</option>
        <option value="1">per Rechnung</option>
    </select></span></label>

    <br />
    <label>Adresse
    <textarea name="delivery" placeholder="Leer lassen, wenn du's grad selbst abholst"></textarea>
    </label>

    <label>Kommentare
    <textarea name="remarks" placeholder=""></textarea>
    </label>

    <input type="submit" class="btn" name="submit" value="Bestellen" />
    </form>
{% endblock %}


{% block cart %}
{% endblock %}
