{%- import "snippets.html" as snippets with context %}

<aside id="sidebar">
{% block sidebar %}
{% endblock %}
</aside>

<aside id="flash">
{% block flash %}
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
{% endblock %}
</aside>

<section id="content">
{% block content %}
    <ul class="items">
        {% for litem in items %}
        {% if item and item == litem %}
        <li class="selected">
        {% else %}
        <li>
        {% endif %}
            <a href="{{ url_for('item', id=litem.key.id()) }}"
            title="{{ litem.description }}"
            style="background-image: url('/uploads/{{ litem.key.id() }}.jpg');">

            <span>{{ litem.name }}</span>
            </a>
        </li>
        {% endfor %}

        <a href="{{ url_for('item_create') }}"><i class="icon-plus-sign icon-2x"></i></a>
    </ul>
{% endblock %}
</section>
