{% set gone=['schon weg', 'zu spät!', 'ein andermal', 'schön wärs', 'leider nein', 'verpennt!', 'sorry', 'nicht mehr', 'bin weg'] %}


<aside id="sidebar">
{% block sidebar %}
<img src="{{url_for('static', filename='img/rastlogo.png')}}" style="display: block; margin: 1em auto"/>

<h1>Hallo. Das ist der neue Rast-Spielmaterialverleih!</h1>
<h2>Wie fange ich an?</h2>
Am besten stellst du oben in der blauen Kopfzeile mal ein, für wen (Jubla/Schule/Extern) und für welchen Zeitraum du etwas suchst.
<h2>Wo sehe ich den Warenkorb?</h2>
Sobald du etwas einpackst, siehst du eine blaue (Miete) oder orange (Kauf) Markierung mit der entsprechnenden Menge auf dem Artikel.
<h2>Ich habe etwas bestellt, aber noch keine Bestätigung erhalten!</h2>
Die kriegst du per Mail, sobald Oli sich das angeschaut hat (während den Rast-Öffnungszeiten, montags und mittwochs).
{% endblock %}
</aside>

<section id="content">
{% block content %}
    <ul class="items">
        {% for litem in items %}
        {% if item and item == litem %}
        <li class="selected">
        {% else %}
        <li>
        {% endif %}
            <a href="{{ url_for('item', id=litem.id) }}"
            title="{{ litem.description }}"
            {% if litem.gone %} class="gone"{% endif %}
            
            style="background-image: url('/uploads/{{ litem.id }}.jpg');">
            {% if litem.lending>0 %}<sup>{{ litem.lending }}</sup>{% endif %}
            {% if litem.buying>0 %}<sup class="buy">{{ litem.buying }}</sup>{% endif %}
            <span>{{ litem.name }}</span>

            {% if litem.gone %}<em>{{ gone|random }}</em>{% endif %}
            </a>
        </li>
        {% endfor %}


        {% if logged_in %}
        <li style="opacity: 0.5;"
        {% if item is sameas none %}
            class="selected"
        {% endif -%}
            >
        <a href="{{ url_for('item_edit') }}"
            style="background-image: url('{{url_for('static', filename='img/create_bg.svg')}}');">
            <span>Neu</span>
            </a>
        </li>
        {% endif -%}
    </ul>
{% endblock %}
</section>

{% if logged_in %}
{% block topmenu %}
<div id="admin">
    <span>CHEF-MODUS</span>
    <a href="{{ url_for('logout') }}"><i class="icon-eject"></i></a>
    <a href="{{ url_for('admin') }}"><i class="icon-tasks"></i></a>
</div>
{% endblock %}
{% endif %}

{% if ta.n_in_cart > 0 %}
{% block cart %}
<aside id="cart">
    {#<a href="{{ url_for('cart_empty') }}">Leeren</a>#}
    <a href="{{ url_for('cart_checkout') }}" style="float: right;">{{ ta.n_in_cart }}×<i class="icon-shopping-cart"></i> Bestellen…</i></a>
</aside>
{% endblock %}
{% endif %}

{% if get_flashed_messages() %}
<aside id="flashs">
    {% for selector, message in get_flashed_messages(with_categories=True) %}
        <div class="flash" data-selector="{{ selector }}">{{ message|safe }}</div>
    {% endfor %}
</aside>
{% endif %}

