{%- import "snippets.html" as snippets with context %}

<aside id="sidebar">
{% block sidebar %}
{% endblock %}
</aside>

<aside id="flash">
{% block flash %}
    {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="flash {{ category }}">{{ message }}</div>
    {% endfor %}
{% endblock %}
</aside>

<section id="content">
{% block content %}
    <ul class="items">
        {% for litem in items %}
        {% if item and item == litem %}
        <li class="selected">
        {% else %}
        <li>
        {% endif %}
            <a href="{{ url_for('item', id=litem.id) }}"
            title="{{ litem.description }}"
            style="background-image: url('/uploads/{{ litem.id }}.jpg');">
            {% if litem.lending()>0 %}<sup>{{ litem.lending() }}</sup>{% endif %}
            {% if litem.buying()>0 %}<sup class="buy">{{ litem.buying() }}</sup>{% endif %}
            <span>{{ litem.name }}</span>
            </a>
        </li>
        {% endfor %}

        <li style="opacity: 0.5;"
        {% if item is sameas none %}
            class="selected"
        {% endif -%}
            >
        <a href="{{ url_for('item_create') }}"
            style="background-image: url('{{url_for('static', filename='img/create_bg.svg')}}');">
            <span>Neu</span>
            </a>
        </li>
    </ul>
{% endblock %}
</section>

{% if n_in_cart > 0 %}
{% block cart %}
<aside id="cart">
    {{ n_in_cart }}×<i class="icon-shopping-cart"></i>
    <a href="{{ url_for('cart_empty') }}">Leeren</a>
    <a href="{{ url_for('cart_checkout') }}" style="float: right;">Bestellen</a>
</aside>
{% endblock %}
{% endif %}
