{% extends "content.html" %}

{% block sidebar %}
    {% if logged_in %}
    <a class="navi" href="{{ url_for('item_edit', id=item.id) }}"><i class="icon-edit icon-2x"></i></a>
    {% endif %}
    {% if item.lendable -%}
    <a class="navi" href="{{ url_for('check_stock', id=item.id) }}">Verfügbarkeit <i class="icon-chevron-right"></i></a>
    {% endif %}

    <h2>{{item.category}}</h2>
    <h1>{{item.name}}</h1>

    <img src="/uploads/full/{{ item.id }}.jpg" />

    <p id="description">{{item.description}}</p>
    {% if item.lendable -%}
        Miete:
        {% if item.tax_base %}
        <strong>{{ item.tax_base|cash }}</strong> (fix) + 
        {% endif %}
        <strong>{{ item.tax|cash }}</strong> pro {% if item.tax_period == 'week' %}Woche{% else %}Tag{% endif %}<br />
    {% endif %}

    {% if item.buyable %}
        Kauf: <strong>{{ item.price_buy|cash }}</strong> / Stück<br />
    {% endif %}
        
    {% if item.lendable %}
        {% if item.available %}
            <a class="btn" href="{{ url_for('item_lend', id=item.id) }}">Ausleihen
            </a>
        {% else %}
            <span class="btn">Ausleihen</span>
        {% endif %}

        {% if item.lending %}
            <a href="{{ url_for('item_unlend', id=item.id) }}" title="zurücklegen"><i class="icon-undo inset"></i></a>
        {% endif %}

    {% endif %}

    {% if item.buyable %}
        {% if item.available %}
            <a class="btn buy" href="{{ url_for('item_buy', id=item.id) }}">Kaufen</a>
        {% else %}
            <span class="btn">Kaufen</span>
        {% endif %}

        {% if item.buying %}
            <a href="{{ url_for('item_unbuy', id=item.id) }}" title="zurücklegen"><i class="icon-undo inset"></i></a>
        {% endif %}
    {% endif %}

    {% if item.related %}
    <h2>Oli empfiehlt dazu:</h2>
    <ul>
        {% for item in item.related %}
        <li><a href="{{ url_for('item', id=item.id) }}" title="{{ item.description }}">
            {{ item.name }}
        </a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
