{% macro pricelist(item) -%}
<div class="pricelist">
    {% if item.price_int!=-1 or item.price_ext!=-1 or item.price_com!=-1 -%}
    <div class="group">
        {% if item.price_int != -1 %}<span title="Jubla-Scharen">{{ item.price_int }}</span>{% endif %}
        {% if item.price_ext != -1 %}<span title="Jugendvereine">{{ item.price_ext }}</span>{% endif %}
        {% if item.price_com != -1 %}<span title="Sportvereine">{{ item.price_com }}</span>{% endif %}
        {% if item.tax_per_day %}Tag
        {% else %}Woche{% endif %}
    </div>
    {% endif %}
    {% if item.price_buy != -1 %}
    <div class="group">
        <span>{{ item.price_buy }}</span>
        Stück
    </div>
    {% endif %}
</div>
{%- endmacro %}
